.besmartvideoslider {
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .besmartvideoslider {
    padding: 2px;
  }
}

.besmartvideoslider__video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 78.125%;
  background: #000;
}

@media (max-width: 767px) {
  .besmartvideoslider__video-wrapper {
    padding-top: 154.87%;
  }
}

.besmartvideoslider--large .besmartvideoslider__video-wrapper {
  padding-top: 56.25%;
}

@media (max-width: 767px) {
  .besmartvideoslider--large .besmartvideoslider__video-wrapper {
    padding-top: 100%;
  }
}

.besmartvideoslider__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pscat-overlay.besmartvideoslider__bottom-overlay{
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  z-index: 15;
  width: 100%;
  padding: 1rem 1rem 4rem;
  border-radius: 16px;
  background: transparent;
  backdrop-filter: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.besmartvideoslider__description {
    color: var(--Text-on-hoover, #FFF);
    text-align: center;
    font-family: "Bricolage Grotesque";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 16px;
    text-transform: uppercase;
    padding-bottom: 4rem;
}
.besmartvideoslider__description.description-with-button{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 125% */
    letter-spacing: 22px;
    padding-bottom: 0;
}
@media(max-width: 520px){
    .pscat-overlay.besmartvideoslider__bottom-overlay{
        gap: 1rem;
        padding: 1rem 1rem 1.5rem;
    }
    .besmartvideoslider__description {
        padding-bottom: 0rem;
          letter-spacing: 0.8rem;
    }
    .besmartvideoslider__description.description-with-button{
        letter-spacing: 0.8rem;
        font-size: 1rem;
    }
}
.besmartvideoslider__description p:last-child {
  margin-bottom: 0;
}

.besmartvideoslider__action {
  text-decoration: none;
  border-radius: var(--Radius-round, 1000px);
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  position: relative;
  z-index: 10;
  pointer-events: auto;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 1.6rem;
}


.pscat-overlay .iqit-show-all:hover {
    background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 568px) {
  .besmartvideoslider__bottom-overlay {
    width: calc(100% - 2rem);
    padding: 0.75rem;
  }

  .besmartvideoslider__action {
    padding: 0.55rem 1rem;
  }
}

.besmartvideoslider__desktop-link {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: block;
  text-decoration: none;
  cursor: pointer;
}


.besmartvideoslider .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0;
}