.besmartvideoslider {
  position: relative;
  overflow: hidden;
  @media(min-width: 768px){
    padding: 2px;  
  }
}

.besmartvideoslider__video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 78.125%;
  background: #000;
}

@media (max-width: 767px) {
  .besmartvideoslider__video-wrapper {
    padding-top: 154.87%;
  }
}

.besmartvideoslider__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.besmartvideoslider__cta {
  position: absolute;
  bottom: 3rem;
  z-index: 5;
  width: 100%;
  padding: 0 1rem;
}

.besmartvideoslider__btn {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
}

.besmartvideoslider__btn:hover,
.besmartvideoslider__btn:focus {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}
.besmartvideoslider__cta {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    .iqit-show-all {
        text-decoration: none;
        border-radius: var(--Radius-round, 1000px);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);
        color: black;
        position: relative;
        z-index: 10;
        pointer-events: auto;
        transition: all 0.3s ease-in-out;
        padding: 1rem  2rem;
    }
    @media (max-width: 568px) {
        .iqit-show-all {
            padding: 0.5rem  1rem;
        }
    }
    .iqit-show-all:hover {
        background: rgba(0, 0, 0, 0.3);
    }
}
.besmartvideoslider__desktop-link {
  position: absolute;
  inset: 0;           /* top:0; right:0; bottom:0; left:0 */
  z-index: 10;
  display: block;
  text-decoration: none;
  /* jeśli chcesz efekt „rączki” */
  cursor: pointer;
}
