.besmartvideoslider {
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .besmartvideoslider {
    padding: 2px;
  }
}

.besmartvideoslider__video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 78.125%;
  background: #000;
}

@media (max-width: 767px) {
  .besmartvideoslider__video-wrapper {
    padding-top: 154.87%;
  }
}

.besmartvideoslider--large .besmartvideoslider__video-wrapper {
  padding-top: 56.25%;
}

@media (max-width: 767px) {
  .besmartvideoslider--large .besmartvideoslider__video-wrapper {
    padding-top: 100%;
  }
}

.besmartvideoslider__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.besmartvideoslider__cta {
  position: absolute;
  bottom: 3rem;
  z-index: 5;
  width: 100%;
  padding: 0 1rem;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.besmartvideoslider__btn {
  text-decoration: none;
  border-radius: var(--Radius-round, 1000px);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  color: black;
  position: relative;
  z-index: 10;
  pointer-events: auto;
  transition: all 0.3s ease-in-out;
  padding: 1rem 2rem;
}

@media (max-width: 568px) {
  .besmartvideoslider__btn {
    padding: 0.5rem 1rem;
  }
}

.besmartvideoslider__btn:hover,
.besmartvideoslider__btn:focus {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.besmartvideoslider__desktop-link {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
